<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Machine Dashboard</title>
      <link rel="stylesheet" href="../../static/css/style.css">
   </head>
<body>

    <div class="container-fluid">
    <div class="jumbotron">
        <hr class="my-4">
      <h1 class="display-4"> API Call Invalid</h1>
      <p class="lead">The URL entered does not contain a valid API key or mac address</p>
     <hr class="my-4>
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button">TO HOME</a>
      </p>
    </div>
    
    
    </div>
    
    </body>
</html>